// imports
@use '../abstracts/base';
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

// inputs
.input-group {
  margin: 2rem 0;
  position: relative;

  &__input {
    @include mix.textStyles;
    padding: var.$formInputBtnPadding;
    border-radius: var.$radiusSm;
    font-size: var.size(xs);
    width: 100%;
    border: 0.1rem solid var.color(grayishBlue);
    outline: 0;
    transition: var.$mainTransition;

    &:hover,
    &:focus {
      border: 0.1rem solid var.color(blue);
    }
  }

  &__icon {
    color: var.color(red);
    font-size: var.size(lg);
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;

    // &.error {
    //   display: block;
    // }
  }

  &__message {
    @include mix.textStyles;
    font-size: var.size(xxs);
    color: var.color(red);
    width: 100%;
    justify-content: flex-end;
    padding: 0.5rem 0.5rem 0 0;
    display: none;
  }

  &.error {
    .input-group__input {
      border: 0.1rem solid var.color(red);
    }

    .input-group__message {
      display: flex;
    }

    .input-group__icon {
      display: block;
    }
  }
}
